@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-slate-500;
}

.btn {
  @apply bg-slate-900 text-white px-4 py-2 rounded hover:bg-slate-700 transition;
}